:root {
  --color-primary: #1570ef;
  --color-secondary: #0f0;
  --color-danger: #f83f23;
  --bg-dark: #101828;
  --bg-light: #f8f9fa;
  --text-dark: #475467;
  --text-light: #fff;
}

.space-right {
  margin-right: 1rem;
}

html {
  scroll-behavior: smooth;
}

.width-full {
  width: 100%;
}

.disabled {
  background-color: #475467;
  opacity: 0.5;
  pointer-events: none;
}

.bg-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-hover:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .flex-column {
    flex-direction: column;
  }
}

.danger {
  color: var(--color-danger);
}

input[type="email"]:focus:invalid ~ .message-required {
  display: block;
  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}
input[type="password"]:focus:invalid ~ .message-required {
  display: block;

  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}
input[type="text"]:focus:invalid:required ~ .message-required {
  display: block;

  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}



input[type="email"]:focus:invalid {
  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}
input[type="password"]:focus:invalid {
  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}
input[type="text"]:focus:invalid:required {
  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}
textarea:focus:invalid {
  border-color: var(--color-danger);
  /* background-color: var(--color-danger); */
  color: var(--color-danger);
}



